<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AWS Services Provisioning</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
  <div class="container">
    <h1>Welcome to the Internal Developer Platform</h1>
    <p>Self - Service: AWS Compute, Container and Database Resources Provisioning</p>

    <form method="POST" action="/provision" class="mb-3">
      <label for="service_type" class="form-label">Select desired service to provision on AWS env:</label>
      <select name="service_type" class="form-select" aria-label="Select service">
        <option value="eks">Amazon Elastic Kubernetes Service</option>
        <option value="redis">Amazon ElastiCache for Redis</option>
        <option value="postgres">Amazon RDS for PostgreSQL</option>
      </select>
      <br>
      <button type="submit" class="btn btn-primary">Provision Service</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-info" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

  </div>

</body>
</html>